<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tom.composepreview">

    <application android:label="Compose Preview">
        <activity android:name=".ComposePreviewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
